// Imports
@import "mixins";
@import "fonts";
@import "variables";

body, html {
    height: 99%;
}

body {
    background-color: $background-color;
    font-family: "typo";
    color: $foreground-color;
}

hr {
    border: 3px solid $foreground-color;
}

select {
    width: 35%;
    height: 40px;
    background-color: $background-color;
    color: $foreground-color;
    border: 3px solid $foreground-color;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 15px;
    outline: none;
}

.container {
    @include abs-center-percent(40%, 80%);
    background-color: $secondary-color;
    // border: 5px solid $foreground-color;
    // border-radius: 25px;
    text-align: center;
    display: grid;
}

.btn {
    width: 35%;
    height: 75px;
    margin: 15px;
    // margin-top: 45%;
    background-color: $background-color;
    color: $foreground-color;
    border: 3px solid $foreground-color;
    border-radius: 1rem;
    font-family: "typo";
    font-size: 20px;
    padding: 10px;
    transition: ease-in 100ms;
}

.btn:hover {
    border-color: $primary-color;
    color: $primary-color;
    font-size: 25px;
}

#title {
    color: $foreground-color;
}

#header {
    border: 5px solid $foreground-color;
    border-radius: 2rem 2rem 0rem 0rem;
    border-bottom: none;
}

#body {
    border: 5px solid $foreground-color;
    border-top: none;
    border-bottom: none;
}

#footer {
    border: 5px solid $foreground-color;
    border-radius: 0rem 0rem 2rem 2rem;
    border-top: none;
}

// Media queries for different devices
// Checking for large tablet width and modifying .container
@include check-for-large-tablet();

// Checking for tablet width and modifying .container
@include check-for-tablet();

// Checking for phone width and modifying .container
@include check-for-phone();
