$background-color: #222831;
$foreground-color: #EEEEEE;
$primary-color: #FFD369;
$secondary-color: #393E46;


@mixin abs-center-percent($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    left: (100-$width)/2;
    top: (100-$height)/2;
}

@font-face {
    font-family: "typo";
    src: url("../fonts/typo/Typo_Round_Regular_Demo.otf");
}

body, html {
    height: 99%;
}


body {
    background-color: $background-color;
    font-family: "typo";
}

hr {
    border: 3px solid $foreground-color;
}

.container {
    @include abs-center-percent(30%, 80%);
    background-color: $secondary-color;
    border: 5px solid $foreground-color;
    border-radius: 25px;
    text-align: center;
}

.btn {
    width: 40%;
    height: 10%;
    margin: 15px;
    margin-top: 45%;
    background-color: $background-color;
    color: $foreground-color;
    border: 3px solid $foreground-color;
    border-radius: 1rem;
    font-family: "typo";
    font-size: 20px;
    padding: 10px;
    transition: ease-in 100ms;
}

.btn:hover {
    border-color: $primary-color;
    color: $primary-color;
    font-size: 25px;
}

#title {
    color: $foreground-color;
}

