// Imports
@import "mixins";
@import "fonts";
@import "variables";

body, html {
    height: 99%;
}

body {
    background-color: $background-color;
    font-family: "typo";
}

hr {
    border: 3px solid $foreground-color;
}

.container {
    @include abs-center-percent(30%, 80%);
    background-color: $secondary-color;
    border: 5px solid $foreground-color;
    border-radius: 25px;
    text-align: center;
}

.btn {
    width: 40%;
    height: 10%;
    margin: 15px;
    margin-top: 45%;
    background-color: $background-color;
    color: $foreground-color;
    border: 3px solid $foreground-color;
    border-radius: 1rem;
    font-family: "typo";
    font-size: 20px;
    padding: 10px;
    transition: ease-in 100ms;
}

.btn:hover {
    border-color: $primary-color;
    color: $primary-color;
    font-size: 25px;
}

#title {
    color: $foreground-color;
}

#Select {
  width: 85%;
  height: 7%;
  border: 3px solid $foreground-color;
  border-radius: 0.5rem;
  font-size: 20px;
  padding-left: 10px;
  margin: 15px;
  outline: none;
  background-color: $background-color;
  color: $foreground-color;
  font-family: "typo";
}



.info_btn {
    width: 50px;
    height: 50px;
    border: 2px solid $foreground-color;
    border-radius: 100%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: ease-in 200ms;
    float: right;
    color: $foreground-color;
    line-height: 50px;
    background-color: $background-color;
}

.info_btn:hover, .info_btn:focus{
    width: 90%;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 1rem;
    border-width: 3px;
    background-color: $background-color;
}

#info_cont {
    background-color: red;
    width: auto;
    height: auto;
}








